<h1>Databáze zpěvů</h1>
<p>
  Databáze zpěvů k liturgii hodin (antifon a krátkých responsorií)
  připravených v rámci projektu
  <a href="http://www.inadiutorium.cz">In adiutorium</a>.
</p>

<p>
  Databáze aktuálně obsahuje <strong><%= count_total %></strong> zpěvů.
</p>

<p>
  Nově přidané:
</p>
<%= render partial: 'home/list_pieces', locals: {pieces: created_pieces} %>

<p>
  Nově aktualisované:
</p>
<%= render partial: 'home/list_pieces', locals: {pieces: updated_pieces} %>

<p>
  Procházet
  <a href="<%= routes.genres_path %>">podle žánru</a>,
  <a href="<%= routes.modes_path %>">podle modu</a>
</p>
