<table>
  <tbody>
    <tr>
      <th>databázové id</th>
      <td><%= piece.id %></td>
    </tr>
    <tr>
      <th>žánr</th>
      <td><%= piece.genre %></td>
    </tr>
    <tr>
      <th>text</th>
      <td><%= piece.lyrics_cleaned %></td>
    </tr>
    <tr>
      <th>soubor</th>
      <td></td>
    </tr>
    <tr>
      <th>id v rámci souboru</th>
      <td><%= piece.piece_id %></td>
    </tr>
    <tr>
      <th>fial</th>
      <td></td>
    </tr>
    <tr>
      <th>zdroj</th>
      <td><pre><%= piece.src %></pre></td>
    </tr>
  </tbody>
</table>
